@charset "UTF-8";
/* CSS Document */
body {
    font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    padding: 70px;
    margin: auto;
	background-color: #f6f6f6;
}
h1, h2, h3 {
	color: #36F;
}

span {
	color: #F00;
}

table {
	background-color: #fff;
	border: 1px solid #999;	
}

a:link {
    text-decoration: none;
}
